Source: qtdeclarative5-mango-ssh
Section: libs
Priority: optional
Maintainer: Joseph Mills <josephjamesmills@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: qtdeclarative5-mango-ssh
Architecture: any
Depends: libc6 (>= 2.14),
         libqt5core5a (>= 5.3.0),
         libqt5qml5 (>= 5.0.2),
         libstdc++6 (>= 4.1.1),
         qt5-default,
         qt5-qmake,
         qtbase5-dev,
	 libqt5qssh5,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Mango Ssh a Qml plugin for interacting with ssh
 This plugin is used to expose ssh to qml. 
 This plugin is under heavey development and is subject to change.
